/* SETTINGS */
:root {
  --text-color: #919c93;
  --green: #618626;
  --grey2: #e4e4d9;
  --grey1: #f2f2ee;
  --color--primary: #364a15;
  --color-secondary: #876a1d;
}
* {
  text-decoration: none;
}
a {
  color: var(--green);
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.container {
  width: 82vw;
  margin: 0 auto;
}
body {
  margin: 0 0;
  font-family: 'Be Vietnam', sans-serif;
}
h1,
h2,
h3,
h4 {
  text-decoration: none;
  margin: 0 0;
}
li {
  list-style: none;
}
.title {
  text-align: center;
  font-size: 36px;
  color: var(--color--primary);
  line-height: 1.6;
}
.subtitle {
  text-align: center;
  font-size: 24px;
  color: var(--text-color);
  line-height: 1.6;
}

/* =================HOME======================== */
.home {
  background: url('./image/bg-1.png');
  background-size: cover;
  padding: 20px 0 60px 0;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
}
.home__right {
  z-index: -1;
  position: absolute;
  height: 80%;
  right: 0;
  bottom: 0;
  width: 35%;
  object-fit: cover;
}
.home .container {
  /* z-index: ; */
}

.banner {
  display: flex;
  justify-content: space-between;
  /* padding: 40px 0; */
  align-items: center;
}

.banner i {
  margin-right: 10px;
  color: var(--text-color);
  font-size: 18px;
}

.banner a {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
  font-family: 'Be Vietnam', sans-serif;
  cursor: pointer;
  margin-right: 10px;
}
.banner a:hover {
  text-decoration: underline;
}
.banner .banner__news {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
  /* font-family: 'Be Vietnam', sans-serif; */
}

.logo {
  display: block;
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s linear;
  cursor: pointer;
  animation-name: scaleout;
  animation-duration: 2s;
  /* animation-iteration-count: 2; */
}
.logo:hover {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  display: flex;
  width: 210;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: var(--green);
  font-weight: 600;
}
.header .header__logo img {
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.header .header__list {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header .header__list .header__list-item {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 15px 20px;
  transition: all 0.2s linear;
}
.header .header__list .header__list-item:hover {
  background: white;
  color: var(--green);
  border-radius: 10px;
}
.header__right {
}
.header__right span {
  padding: 15px 20px;
  border: 1px solid var(--grey2);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s linear;
  margin-right: 10px;
}
.header__right span:hover {
  background: white;
  color: var(--green);
}
.header__right span i {
  margin-right: 10px;
}
.header__right .love__icon {
  border: 1px solid var(--grey2);
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}
.header__right .love__icon:hover {
  color: var(--green);
  background: white;
}

.info {
  margin-top: 20px;
}
.info .info__title {
  font-size: 60px;
  /* background: -webkit-linear-gradient(45deg, red, yellow, green, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--color--primary);
  font-weight: 700;
  box-sizing: border-box;
}
.info .info__detail {
  margin-top: 16px;
  max-width: 80%;
  font-size: 24px;
  color: var(--text-color);
}
.info .info__button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  color: var(--color-secondary);
}
.info .info__button:hover i {
  margin-left: 5px;
}

.home__product {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 50px auto 0;
  border: 1px solid var(--grey2);
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
}
.home__product:hover {
  border: 1px solid #c4c4ac;
}
.home__product .home__product-name {
  margin-top: 20px;
  color: var(--green);
}
.home__product .home__product-count {
  color: var(--color-secondary);
  line-height: 1.6;
}

/* =================INTRODUCE================= */
.introduce {
  padding: 120px 0;
}

.introduce .introduce__top {
  text-align: center;
}

.introduct__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.introduct__bottom .introduce__item {
  width: 50%;
  /* padding: 0px 60px 0px 0px; */
  box-sizing: border-box;
  display: flex;
  /* align-items: center; */
  margin-bottom: 100px;
}
.introduct__bottom .introduce__item .introduce__logo {
  margin-right: 20px;
}
.introduct__bottom .introduce__item .introduce__logo i {
  font-size: 100px;
  color: var(--color-secondary);
}
.introduct__bottom .introduce__item .introduce__logo div {
  width: 110px;
}

.introduct__bottom .introduce__item .introduce__info {
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
}
.introduct__bottom .introduce__item .introduce__info .introduce__info-name {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color--primary);
}
.introduct__bottom .introduce__item .introduce__info .introduce__info-detail {
  color: var(--text-color);
  line-height: 1.6;
  box-sizing: border-box;
}

/* ===========================PRESENT=================== */
.present {
  background-color: #8080803d;
  box-sizing: border-box;
  padding: 10px 0;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
}
.present img {
  position: absolute;
  /* border: 40px solid transparent; */
  bottom: 0;
  height: 100%;
  object-fit: cover;
  width: 40%;
  right: 0;
  z-index: -1;
}

.present h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}
.present .present__detail {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 30px;
  line-height: 1.6;
}
.present__button {
  color: var(--color-secondary);
  line-height: 1.6;
  font-size: 20px;
  cursor: pointer;
}
.present__button:hover i {
  margin-left: 8px;
}

/* ================================PRODUCT============ */
.product {
  box-sizing: border-box;
  padding: 120px 0;
  border: 1px solid var(--grey2);
}
.product__top {
  text-align: center;
}
.product__list {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
  flex-wrap: wrap;
}
.product__item {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 25%;
}
.product__item .product__wrapper {
  border: 0.5px solid var(--text-color);
  padding: 20px;
  text-align: center;
}
.product__item .product__wrapper:hover {
  border: 1px solid var(--color-secondary);
}
.product__item .product__item-image {
  width: 100%;
  height: 203px;
  cursor: pointer;
}
.product__item .product__item-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product__item .product__item-name {
  margin-top: 20px;
  color: var(--color--primary);
  line-height: 1.6;
  font-size: 18px;
}
.product__item .product__item-prize {
  color: var(--color-secondary);
  font-size: 18px;
  margin-top: 20px;
}
.product__item .product__item-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.product__item .product__item-button i {
  width: 25%;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--color--primary);
  cursor: pointer;
  color: var(--text-color);
}
.product__item .product__item-button i:hover {
  background: var(--grey1);
}

/* ===================BLOG ========================== */
.blog {
  box-sizing: border-box;
  padding: 120px 0;
  border: 1px solid var(--grey2);
}

.blog .blog__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog__list .blog__list-item {
  width: 48%;
}
.blog__list .blog__list-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}
.blog__list .blog__list-item .blog__item-name {
  margin-top: 24px;
  color: var(--color--primary);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 1.6;
}
.blog__list .blog__list-item .blog__item-date {
  font-size: 16px;
  margin-top: 20px;
  color: var(--text-color);
  line-height: 1.6;
}
.blog__list .blog__list-item .blog__item-author {
  font-size: 16px;
  margin-top: 20px;
  color: var(--color-secondary);
  line-height: 1.6;
  cursor: pointer;
}
.blog__list .blog__list-item .blog__item-button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  color: var(--color-secondary);
}
.blog__list .blog__list-item .blog__item-button:hover i {
  margin-left: 5px;
}

/* ==============================CONTACT=================== */
.contact {
  box-sizing: border-box;
  padding: 120px 0;
  background: #f2f2ee;
}
.contact__item {
  margin: 0px 0 40px 0;
}
.contact__title {
  font-size: 24px;
  color: var(--color--primary);
}
.contact__detail {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
.contact__left {
  width: 50%;
}
.contact__right {
  width: 30%;
}
.contact .contact__introduce img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.contact__news .contact__news-input {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.contact__news .contact__news-input input {
  background-color: transparent;
  background: var(--grey2);
  outline: none;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border: 0;
  padding: 0 30px;
  width: 200px;
  font-size: 16px;
  height: 54px;
  box-sizing: border-box;
}
.contact__news .contact__news-input button {
  cursor: pointer;
  box-sizing: border-box;
  height: 54px;
  width: 80px;
  background-color: #babda5;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  font-size: 24px;
  color: white;
  display: inline-block;
  border: none;
}
.contact__news .contact__news-input button:hover {
  background: #c5c8b4;
}
.contact__follow .contact__follow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__follow .contact__follow-icon span {
  width: 20px;
  height: 20px;
  margin: 20px;
  padding: 20px;
  background-color: #babda5;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.contact__follow .contact__follow-icon span:hover {
  background-color: #c5c8b4;
}
.contact__follow .contact__follow-icon span i {
  transform: translateX(5%);
}

/* animation */
@keyframes scaleout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
