/* SETTINGS */
:root {
  --text-color: #919c93;
  --green: #618626;
  --grey2: #e4e4d9;
  --grey1: #f2f2ee;
  --color--primary: #364a15;
  --color-secondary: #876a1d;
}
ul {
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.container {
  width: 82vw;
  margin: 0 auto;
}
body {
  margin: 0 0;
  font-family: 'Be Vietnam', sans-serif;
}
h1,
h2,
h3,
h4 {
  text-decoration: none;
  margin: 0 0;
}
li {
  list-style: none;
}
.title {
  font-size: 36px;
  color: var(--color--primary);
  line-height: 1.6;
}
.subtitle {
  font-size: 24px;
  color: var(--text-color);
  line-height: 1.6;
}

/* =================HOME======================== */
.home {
  background: url('./image/bg-1.png');
  background-size: cover;
  padding: 20px 0;
  /* height: 887px; */
}

.banner {
  display: flex;
  justify-content: space-between;
  /* padding: 40px 0; */
  align-items: center;
}

.banner i {
  margin-right: 10px;
  color: var(--text-color);
  font-size: 18px;
}

.banner a {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
  font-family: 'Be Vietnam', sans-serif;
  cursor: pointer;
  margin-right: 10px;
}
.banner a:hover {
  text-decoration: underline;
}
.banner .banner__news {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
  /* font-family: 'Be Vietnam', sans-serif; */
}

.logo {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  display: flex;
  width: 210;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: var(--green);
  font-weight: 600;
}
.header .header__logo img {
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.header .header__list {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header .header__list .header__list-item {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 15px 20px;
  transition: all 0.2s linear;
}
.header .header__list .header__list-item:hover {
  background: white;
  color: var(--green);
  border-radius: 10px;
}
.header__right {
}
.header__right span {
  padding: 15px 20px;
  border: 1px solid var(--grey2);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s linear;
  margin-right: 10px;
}
.header__right span:hover {
  background: white;
  color: var(--green);
}
.header__right span i {
  margin-right: 10px;
}
.header__right .love__icon {
  border: 1px solid var(--grey2);
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}
.header__right .love__icon:hover {
  color: var(--green);
  background: white;
}

.info {
  margin-top: 20px;
}
.info .info__title {
  font-size: 60px;
  /* background: -webkit-linear-gradient(45deg, red, yellow, green, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--color--primary);
  font-weight: 700;
  box-sizing: border-box;
}
.info .info__detail {
  margin-top: 16px;
  max-width: 80%;
  font-size: 24px;
  color: var(--text-color);
}
.info .info__button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  color: var(--color-secondary);
}
.info .info__button:hover i {
  margin-left: 5px;
}

.home__product {
  width: 180px;
  height: 118px;
  background: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto 0;
  border: 1px solid var(--grey2);
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
}
.home__product:hover {
  border: 1px solid #c4c4ac;
}
.home__product .home__product-name {
  margin-top: 20px;
  color: var(--green);
}
.home__product .home__product-count {
  color: var(--color-secondary);
  line-height: 1.6;
}

/* =================INTRODUCE================= */
.introduce {
  padding: 120px 0;
}

.introduce .introduce__top {
  text-align: center;
}

.introduct__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.introduct__bottom .introduce__item {
  width: 50%;
  padding: 0px 60px 0px 0px;
  box-sizing: border-box;
  display: flex;
  /* align-items: center; */
  margin-bottom: 100px;
}
.introduct__bottom .introduce__item .introduce__logo {
  margin-right: 20px;
}
.introduct__bottom .introduce__item .introduce__logo i {
  font-size: 100px;
  color: var(--color-secondary);
}
.introduct__bottom .introduce__item .introduce__logo div {
  width: 100px;
}

.introduct__bottom .introduce__item .introduce__info {
  display: flex;
  flex-direction: column;
}
.introduct__bottom .introduce__item .introduce__info .introduce__info-name {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color--primary);
}
.introduct__bottom .introduce__item .introduce__info .introduce__info-detail {
  color: var(--text-color);
  line-height: 1.6;
  box-sizing: border-box;
}
